<template>
  <v-app>
    <header-component></header-component>
    <v-container fluid class="grey lighten-5 v-container-custom">
      <v-layout row wrap>
        <router-view/>
      </v-layout>
    </v-container>
    <footer-component></footer-component>
  </v-app>
</template>

<script>
import header from './components/core/HeaderComponent.vue';
import footer from './components/core/FooterComponent.vue';
import store from '@/store/index'

export default {
  name: 'App',
  data: () => ({}),
  components: {
    'header-component': header,
    'footer-component': footer,
  },
  mounted: () => {
    var token = localStorage.getItem('auth_token');
    if (token) {
      axios.post('initialize', {'token': token})
      .then(response => store.commit('initialize', response.data));
    }
    
  }
};
</script>

<style>
  /* html{
    font-family: Roboto, sans-serif;
  } */

  .v-container-custom {
    margin-top: 54px !important;
  }

  @media (min-width: 992px) {
    .v-container-custom {
      margin-top: 56px !important;
    }
  }

  .link-without-underline{
    text-decoration: none;
  }


  /* .loadingState {
    text-align: center;
  } */
</style>
