<template>
  <v-container fluid>
    <v-row class="mb-12">
      <v-col v-for="n in 8" :key="n">
        <card-component :key=n></card-component>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Card from "@/components/feed/CardComponent.vue";

export default {
  name: "Home",
  components: {
    "card-component": Card,
  },
  data: () => ({}),
};
</script>
